@model Seller

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>Seller</h4>
    <hr />
    <dl>
        <dt>@Html.DisplayNameFor(p => p.Name)</dt>
        <dd>@Html.DisplayFor(p => p.Name)</dd>
    </dl>
    <dl>
        <dt>@Html.DisplayNameFor(p => p.Email)</dt>
        <dd>@Html.DisplayFor(p => p.Email)</dd>
    </dl>
    <dl>
        <dt>@Html.DisplayNameFor(p => p.BirthDate)</dt>
        <dd>@Html.DisplayFor(p => p.BirthDate)</dd>
    </dl>
    <dl>
        <dt>@Html.DisplayNameFor(p => p.BaseSalary)</dt>
        <dd>@Html.DisplayFor(p => p.BaseSalary)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="Submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index">Back to List</a>
    </form>
</div>

